:root {
    --left-color: #0058D4;
    --right-color: #FF9E15;
    --white: #EEEEEE;
    --black: #333333;
    --max-width: 1920px;
}

::-moz-selection {
    color: var(--white);
    background: var(--black);
}

::selection {
    color: var(--white);
    background: var(--black);
}

html, body {
    height: 100%;
    font-family: 'Fira Sans', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--black);
}

div, img, iframe, button {
    transition: all 1s;
}

div.wrapper {
    margin: auto;
    max-width: var(--max-width);
    min-height: 100%;
    height: 100%;
}

div.page-container {
    min-height: 100%;
    height: 100%;
}

div.content-container {
    background: var(--white);
    z-index: 200;
    -webkit-box-shadow: 0px 0px 15px 0px var(--black);
    -moz-box-shadow: 0px 0px 15px 0px var(--black);
    box-shadow: 0px 0px 15px 0px var(--black);
}

div.nav-sidebar#left {
    background-color: var(--left-color);
}

div.nav-sidebar#right {
    background-color: var(--right-color);
}

div.footer-content-container {
    z-index: 200;
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    padding: 20px;
    -webkit-box-shadow: 0px 15px 15px 0px var(--black);
    -moz-box-shadow: 0px 15px 15px 0px var(--black);
    box-shadow: 0px 15px 15px 0px var(--black);
}

.color-left {
    background-color: var(--left-color);
}

.color-right {
    background-color: var(--right-color);
}

div.footer-logo-container {
    height: 100%;
}

img.footer-logo {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
    margin: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 150px;
    height: auto;
}

img.footer-logo:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

div.footer {
    text-align: justify;
}

div.footer ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

a:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    color: var(--left-color);
}

div.profile-page-container a:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    color: var(--right-color);
}

div.footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

div.footer a:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    color: var(--right-color);
}

div.nav-sidebar {
    color: var(--black);
}

div.nav-sidebar button {
    color: var(--white);
    font-size: 50px;
}

div.nav-sidebar#left button:hover {
    color: var(--right-color);
}

div.nav-sidebar#right button:hover {
    color: var(--left-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
}

h1.intro-title {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

div.intro-title-container {
    display: flex;
    align-content: center;
    height: auto;
    min-height: 160px;
}

h1.profile-name {
    border-bottom: 2px solid var(--black);
}

h1.profile-name#left {
    border-color: var(--left-color);
}

h1.profile-name#right {
    border-color: var(--right-color);
}

img.intro-image, img.profile-photo {
    border: 10px solid var(--black);
}

img.profile-thumbnail {
    border: 5px solid var(--black);
}

img.profile-thumbnail#left {
    border-color: var(--left-color);
}

img.profile-thumbnail#right {
    border-color: var(--right-color);
}

img.intro-image#left, img.profile-photo#left {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border-color: var(--left-color);
}

img.intro-image#left:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0px 0px 15px 0px var(--left-color);
}

img.intro-image#right, img.profile-photo#right {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border-color: var(--right-color);
}

img.intro-image#right:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0px 0px 15px 0px var(--right-color);
}

div.content {
    margin: auto;
    width: 100%;
}

div.profile-sidebar {
    border-right: 2px solid var(--black);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div.profile-sidebar#left {
    border-color: var(--left-color);
}

div.profile-sidebar#right {
    border-color: var(--right-color);
}

div.profile-sidebar p {
    padding-left: 40px;
}

p.profile-value {
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: -5px;
}

img.profile-photo {
    display: block;
    margin: auto;
    width: 100%;
}

button.social-media-button {
    border-color: var(--black);
    background-color: var(--white);
    color: var(--black);
    font-size: 24px;
    border-radius: 0;
    border-width: 2px;
    width: 60px;
    height: 60px;
}

button.social-media-button:hover {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white);
}

button.social-media-button#left {
    border-color: var(--left-color);
    background-color: var(--white);
    color: var(--left-color);
}

button.social-media-button#left:hover {
    border-color: var(--left-color);
    background-color: var(--left-color);
    color: var(--white);
}

button.social-media-button#right:hover {
    border-color: var(--right-color);
    background-color: var(--right-color);
    color: var(--white);
}

button.social-media-button#right {
    border-color: var(--right-color);
    background-color: var(--white);
    color: var(--right-color);
}

div.nav-topbar {
    display: none;
    background-color: var(--black);
}

div.nav-topbar button {
    color: var(--white);
}

div.nav-topbar button#left:hover {
    color: var(--left-color);
}

div.nav-topbar button#right:hover {
    color: var(--right-color);
}

@media only screen and (max-width: 960px) {
    h1, h2 {
        text-align: center;
    }
    div.nav-sidebar {
        display: none;
    }
    div.content {
        margin: auto 10px;
    }
    img.footer-logo {
        padding: 10px;
    }
    div.profile-sidebar {
        border-right: none;
        border-bottom: 2px solid var(--black);
    }
    div.profile-sidebar {
        text-align: center;
    }
    button.social-media-button {
        margin: auto;
        display: block;
        margin-bottom: 5px;
    }
    div.nav-topbar {
        display: flex;
    }
    div.profile-sidebar p {
        padding-left: 0;
    }
}

button.profile-audio-button {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    border-radius: 0;
    border-width: 2px;
    width: 40px;
    height: 40px;
}

button.profile-audio-button:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
    border-radius: 0;
    border-width: 2px;
}

button.profile-audio-button#left {
    color: var(--left-color);
    background-color: var(--white);
    border-color: var(--left-color);
}

button.profile-audio-button#right {
    color: var(--right-color);
    background-color: var(--white);
    border-color: var(--right-color);
}

button.profile-audio-button#left:hover {
    color: var(--white);
    background-color: var(--left-color);
    border-color: var(--left-color);
}

button.profile-audio-button#right:hover {
    color: var(--white);
    background-color: var(--right-color);
    border-color: var(--right-color);
}

p.profile-description {
    text-align: justify;
}

div.modal#imageModal div.modal-dialog {
    width: 100% !important;
}

div.profile-page-container {
    margin-top: 20px;
    margin-bottom: -172px;
    /* height of footer - 20px*/
}

div.profile-video-container iframe {
    padding: 0.25rem;
    margin-top: 10px;
    border: 5px solid var(--black);
    width: 100%;
    height: auto;
    min-height: 315px;
}

div.profile-video-container iframe {
    padding: 0.25rem;
    margin-top: 10px;
    border: 5px solid var(--black);
    width: 100%;
    height: auto;
    min-height: 315px;
}

div.profile-video-container iframe#left {
    border: 5px solid var(--left-color);
}

div.profile-video-container iframe#right {
    border: 5px solid var(--right-color);
}

img {
    padding: 0.25rem;
}

/*
div.content div {
    border: 2px solid black;
}*/